/* Community css */

.custom-profile-section {
  width: 95%;
  height: 550px;
  margin: 100px auto 0;
  overflow: visible;
  position: relative;
}

.custom-profile-background {
  margin-top: 0px;;
  position: relative;
  width: 100%;
  height: 75%;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.custom-profile-background::after {
  content: ''; /* Necessario per creare un pseudo-elemento */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay nero semitrasparente, regola l'opacità come preferisci */
  z-index: 1; /* Sovrappone l'overlay alle altre proprietà, ma sotto il contenuto */
}

.background-title {
  position: absolute;
  top: 50%; /* Centrato verticalmente, ma puoi regolare come necessario */
  left: 50%; /* Centrato orizzontalmente */
  transform: translate(-50%, -50%); /* Centra esattamente il testo */
  z-index: 2; /* Sovrappone il titolo all'overlay */
  color: white; /* Colore del titolo, scegli un colore che contrasta con l'overlay */
  font-size: 10em; /* Dimensione del font, regolabile a piacimento */
  text-align: center; /* Assicura che il testo sia centrato se su più linee */
  /* Aggiungi ulteriori stili per il titolo come necessario */
}

.custom-profile-content {
  height: 25%;
  background: #fffffff1; /* O il colore che preferisci per il footer */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.custom-profile-avatar {
  width: 180px; /* O la dimensione che preferisci */
  position: absolute;
  top: 75%; /* Posizione dalla cima pari a 3/4 dell'altezza del background */
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
  background: #FFF; /* O il colore che preferisci per il bordo dell'avatar */
  border: 12px solid #FFF; /* O il colore che preferisci per il bordo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.custom-profile-avatar img {
  width: 100%;
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
}

.custom-profile-user-info {
  position: absolute;
  top: calc(75% + 10px); /* Posizionato sotto l'avatar */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 4;
}

.custom-user-badge {
  display: inline-block;
  background: linear-gradient(to right, #f7931a, #f0b90b); /* Un gradiente arancione */
  color: white; /* Testo bianco */
  padding: 0.5em 1em; /* Padding intorno al testo */
  border-radius: 5px; /* Angoli arrotondati */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra leggera per profondità */
  font-weight: bold; /* Testo in grassetto */
  transform: translateY(-50%); /* Posiziona il badge al centro verticalmente rispetto all'avatar */
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3; /* Assicura che il badge sia sopra gli altri elementi */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transizioni per l'hover */
}

/* Effetto hover per il badge */
.custom-user-badge:hover {

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombra più grande per l'effetto sollevato */
}

.custom-user-name {
  /* Assicurati che il nome dell'utente abbia un margine superiore sufficiente per non sovrapporsi al badge */
  margin-top: 60px; /* Aumenta questo valore se il badge è più grande */
  position: relative; /* Se necessario per ulteriori regolazioni di posizionamento */
  z-index: 2; /* Assicurati che il nome dell'utente sia sopra il background ma sotto il badge se sovrapposti */
  /* ... */
}

.custom-lower-section {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Aggiunto per maggiore spaziatura */
  background: #2b2b2b; /* Cambiare se necessario per migliorare il contrasto */
  border-radius: 0 0 20px 20px;
}

.custom-social-icons {
  display: flex;
  justify-content: center; /* Centra le icone orizzontalmente */
  align-items: center; /* Centra le icone verticalmente */
  padding: 10px;
  list-style: none; /* Rimuove gli stili di lista se sono <li> */
}

.social-icon {
  display: inline-block;
  width: 30px; /* Adatta le dimensioni come necessario */
  height: 30px;
  margin: 0 10px; /* Spazio tra le icone */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.social-icon.telegram {
  background-image: url('assets/assets/community/telegram.png');
}

.social-icon.twitter {
  background-image: url('assets/assets/community/twitter.png');
}

.social-icon.instagram {
  background-image: url('assets/assets/community/instagram.png');
}

.social-icon.nostr {
  background-image: url('assets/assets/community/nostr.png');
}

.social-icon.facebook {
  background-image: url('assets/assets/community/facebook.png');
}

/* Effetti hover per i pulsanti social */

.social-icon:hover {
  transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(1.1); /* Ingrandisce l'icona */
  filter: brightness(1.2); /* Aumenta la luminosità al passaggio del mouse */
}

.weather-container {
  display: flex; /* Usa flexbox per allineare gli elementi in linea */
  justify-content: center; /* Centra gli elementi nel contenitore */
  align-items: center; /* Allinea gli elementi verticalmente */
  color: rgb(255, 255, 255);
}

.current-weather {
  display: flex; /* Applica flexbox anche qui per allineare icona e testo */
  align-items: center; /* Allinea gli elementi verticalmente */
}

.weather-icon {
  width: 30px; /* Adatta le dimensioni come necessario */
  height: 30px;
  margin-right: 10px; /* Spazio tra l'icona e il testo della temperatura */
}

.weather-temp {
  margin-right: 5px; /* Spazio tra il testo della temperatura e la descrizione */
}

/* Assicurati che la classe .weather-description non abbia stili che la forzino a scendere a capo, come width o block display */
.weather-description {
  /* Aggiungi qui gli stili necessari, assicurandoti che non limitino la disposizione in linea */
}


/* Aggiungi qui ulteriori stili se necessario */


/* Media query per tablet (es. dispositivi con larghezza fino a 768px) */

@media (max-width: 768px) {

  .custom-profile-section {
    /* Assicurati che la sezione si adatti all'altezza del contenuto */
    height: auto;
  }

  .custom-profile-background {
    /* Riduci l'altezza dello sfondo per i dispositivi più piccoli */
    height: 200px; /* Adegua questo valore in base al tuo design */
  }

  .custom-profile-content {
    /* Cambia la disposizione degli elementi per uno schermo piccolo */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px; /* Spazio per evitare la sovrapposizione con l'avatar */
    height: auto; /* Rendi l'altezza automatica per contenere tutto */
  }

  .background-title{
    font-size: 5em;
    margin-top: 0;
    top: 30%;
  }
  
  .custom-profile-avatar {
    width: 140px; /* Adegua in base alle dimensioni desiderate */
    height: 140px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1; /* Stabilisce un ordine di impilamento */
  }

  .custom-profile-user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px; /* Adegua questa distanza in base all'altezza dell'avatar */
    text-align: center;
    z-index: 2; /* Assicurati che le informazioni dell'utente siano sopra l'avatar */
  }

  .custom-user-name {
    font-size: 1.5em; /* Adegua la dimensione del font se necessario */
    margin-bottom: 0.5em; /* Aggiungi spazio sotto il nome dell'utente */
  }

  .custom-user-badge {
    font-size: 1.2em; /* Adegua la dimensione del font se necessario */
    margin-top: 0.5em; /* Aggiungi spazio sopra il badge */
  }

  .custom-lower-section {
    margin-top: 0rem; /* Distanza dal badge */
    padding-top: 0;
    z-index: 2; /* Stabilisce un ordine di impilamento */
  }
  
.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center weather content */
}

.current-weather {
    font-size: 1.2em; /* Increase font size for visibility */
}

.weather-icon {
    width: 50px; /* Adjust icon size */
    height: auto;
}

.custom-social-icons a {
    margin: 0 5px; /* Adjust spacing between icons */
    width: 30px; /* Adjust icon size */
    height: 30px;
}
}

  .custom-profile-user-info {
    top: calc(75% + 50px); /* Aggiusta la posizione sotto l'avatar */
    /* Aggiusta altre proprietà se necessario */
  }

  /* Aggiungi altre modifiche di stile specifiche per tablet qui */


  @media (max-width: 480px) {
    .custom-profile-section {
      /* Assicurati che la sezione si adatti all'altezza del contenuto */
      height: auto;
    }
  
    .custom-profile-background {
      /* Riduci l'altezza dello sfondo per i dispositivi più piccoli */
      height: 200px; /* Adegua questo valore in base al tuo design */
    }
  
    .custom-profile-content {
      /* Cambia la disposizione degli elementi per uno schermo piccolo */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 50px; /* Spazio per evitare la sovrapposizione con l'avatar */
      height: auto; /* Rendi l'altezza automatica per contenere tutto */
    }

    .background-title{
      font-size: 4em;
      margin-top: 0;
      top: 30%;
    }
    
    .custom-profile-avatar {
      width: 110px; /* Adegua in base alle dimensioni desiderate */
      height: 110px;
      top: 63%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1; /* Stabilisce un ordine di impilamento */
    }
  
    .custom-profile-user-info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 5px; /* Adegua questa distanza in base all'altezza dell'avatar */
      text-align: center;
      z-index: 2; /* Assicurati che le informazioni dell'utente siano sopra l'avatar */
    }
  
    .custom-user-name {
      font-size: 1.5em; /* Adegua la dimensione del font se necessario */
      margin-bottom: 0.5em; /* Aggiungi spazio sotto il nome dell'utente */
    }
  
    .custom-user-badge {
      font-size: 1.2em; /* Adegua la dimensione del font se necessario */
      margin-top: 0.5em; /* Aggiungi spazio sopra il badge */
    }
  
    .custom-lower-section {
      margin-top: 0rem; /* Distanza dal badge */
      padding-top: 0;
      z-index: 2; /* Stabilisce un ordine di impilamento */
    }

    .weather-temp, .weather-description{
      font-size: 16px;
    }
  }

  
    .icon-menu-container{
      margin-top: -150px;
    }
  
  

  .icon-menu-container {
    width: 95%; /* Imposta la larghezza del container al 95% della pagina */
    margin: auto; /* Centra il container orizzontalmente */
    background-color: #ffffffe1; /* Sostituisci con il colore di sfondo desiderato */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera per profondità */
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    padding: 10px 0; /* Spaziatura sopra e sotto */
    margin-top: 150px;
    border-radius: 20px 20px 20px 20px;
    color: #FFF;
  }
  
  .icon-menu {
    display: flex;
    justify-content: center; /* Centra le icone nel menu */
    align-items: center; /* Centra verticalmente */
    padding: 0; /* Rimuove il padding se non necessario */
    list-style: none; /* Rimuove gli stili di lista predefiniti se è un elenco <ul> */
    width: 100%; /* Imposta la larghezza del menu a tutto il container */
  }
  
  .menu-item {
    display: block;
    margin: 0 10px; /* Aggiunge spazio tra le icone */
    transition: transform 0.3s ease; /* Effetto morbido per l'hover */
  }
  
  .menu-item:hover {
    transform: scale(1.1); /* Leggermente più grande all'hover */
  }
  
  .menu-item img {
    width: 24px; /* Adegua la dimensione dell'icona */
    height: auto;
  }
  

  .content {
    display: none; /* Nasconde inizialmente tutti i contenuti */
    width: 95%; /* Imposta la larghezza al 95% dello schermo */
    margin: 20px auto; /* Centra il contenuto orizzontalmente e aggiunge margine sopra e sotto */
    padding: 20px; /* Aggiunge spaziatura interna */
    background-color: #222222; /* Colore di sfondo, adattalo secondo il tuo schema di colori */
    border-radius: 20px; /* Angoli arrotondati per un look più morbido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ombra leggera per un effetto di profondità */
    /* Altre regole stilistiche come necessario */
  }
  
  .content h4{

  text-align: center;
  }


  /* Stile quando un contenuto è attivo */
  .active.content {
    display: block; /* Mostra il contenuto attivo */
  }
  
  .content iframe {
    width: 100%; /* Imposta la larghezza dell'iframe al 100% del contenitore */
    height: 600px; /* Imposta un'altezza fissa o puoi anche usare 100% se il contenitore ha un'altezza definita */
    border: none; /* Rimuove il bordo dell'iframe */
  }

  @media (max-width: 480px) {
    .icon-menu-container {
      margin-top: 10px;
  }
}


.columns-container {
  display: flex; /* Disponi le colonne in orizzontale */
  justify-content: space-between; /* Distribuisci spazio uniformemente tra le colonne */
  margin: 0 -10px; /* Compensa per il padding nel .content */
}

.column {
  display: flex; /* Disponi le card in orizzontale nella colonna */
  flex-direction: column; /* Organizza le card in verticale */
  flex: 1; /* Distribuisce equamente lo spazio tra le colonne */
  padding: 0 10px; /* Spazio tra le colonne */
}

.card {
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo nero trasparente */
  color: white; /* Testo in bianco per contrasto */
  border: 1px solid #ccc; /* Bordo sottile per definire i bordi della card */
  border-radius: 8px; /* Angoli arrotondati */
  padding: 20px; /* Spaziatura interna */
  margin: 10px 0; /* Margini verticali per separare le card */
  display: flex; /* Usa flexbox per organizzare il contenuto */
  flex-direction: column; /* Allinea i contenuti in verticale */
  justify-content: center; /* Centra il contenuto verticalmente */
  align-items: center; /* Centra il contenuto orizzontalmente */
  text-align: center; /* Assicura che il testo sia centrato */
  word-break: break-word; /* Assicura che le parole lunghe vadano a capo */
  overflow-wrap: break-word; /* Forza il wrapping delle parole all'interno della card */
  white-space: normal;
  transition: transform 0.3s ease; /* Animazione fluida per la trasformazione */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra leggera per profondità */
}

.card:hover {
  transform: scale(1.05); /* Aumenta leggermente la dimensione della card all'hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombra più grande per enfatizzare l'effetto */
}

.card h3 {
  margin: 0; /* Rimuove margini aggiuntivi */
  padding: 10px 0; /* Aggiunge un po' di spazio sopra e sotto il titolo */
  margin-top: 0; /* Rimuove il margine superiore del titolo */
}

.card p {
  margin-bottom: 0; /* Rimuove il margine inferiore del paragrafo */
}

#loading-container {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  position: relative;
}

#loading-bar {
  height: 100%;
  background-color: #ff7b00;
  width: 100%; /* Parte completamente piena */
  position: absolute;
  left: 0;
  top: 0;
  transition: width 60s linear; /* Durata della transizione pari al tempo di aggiornamento */
}


@media (max-width: 767px) { /* Per Dispositivi Mobili */
  .columns-container {
    flex-direction: column; /* Disponi le colonne in verticale */
  }

  .column {
    width: 100%; /* Ogni colonna occupa l'intera larghezza del container */
    padding: 0; /* Rimuove il padding laterale per mobile */
  }

  .card {
    margin: 10px 0; /* Adegua il margine per mobile */
    /* Adegua altre proprietà delle card se necessario */
  }
}


#calendar-container {
  /* Stili di base */
}
